body {
    background-color: #151514;
    color: #353534;
}

.container {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    
}

form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: black;
}

label {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    color: black;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: #353534;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type="submit"]:hover {
        background-color: deeppink;
    }
